$primary: #23b2a4;
$secondary: #e94e6d;
$success: #23b2a4;
$info: #428bca;
$warning: #f99827;
$light: #efefef;
$dark: #3a4151;
$gray: #3a4151;
$gray-dark: #3a4151;

$body-bg: $light;
$body-color: $dark;
