html {
  overflow-x: hidden;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .form-wrapper .text-right {
    text-align: center !important;
  }
  .form-wrapper .btn-primary {
    display: block;
    margin: 0 auto;
  }
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 110px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.navbar {
  z-index: 1;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}
.login-page {
  align-items: center;
  height: 100vh;
}
.leftnavbar li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.leftnavbar li a img {
  max-width: 24px;
}
.leftnavbar li:first-child a img {
  max-width: 50px;
  margin: 0 auto;
  display: block;
}
.box {
  height: 200px;
  padding: 50px 15px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
}
.box .value {
  font-size: 2em;
  font-weight: 600;
}
.box h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.box p {
  margin-bottom: 0;
  text-transform: uppercase;
}
.box .unit {
  font-size: 12px;
  font-weight: 600;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-small {
  margin-top: -5px;
}
